
body {
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    background-image: url("./assets/1003880.jpg");
}

div.personaje {
  background: #0d7373a2;
  box-shadow: 0 0 8px #730d0d;
  color: #fff;
  text-align: center;
  max-width: 11em;
  padding: 3px 11px;
  border-radius: 50px;
  display: flex;
  margin: 3px 2px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 3px;

}

.img-personaje {
  width: 100px;
  height:auto;
  margin-top: -15px;
  align-items: center;
}

#container-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 0 0;
}

#container-app > div > p{
  width: 75%;
}

.btn{
  background: #620000b7;
  width: auto;
  height: 3em;
  border-radius: 35px;
  padding: 10px;
  font-family: "Saiyan-Sans";
  color: #fff;
  font-size: 1.5em;
  margin: 5px 3px;
}
.btn:hover{
  background: #db4141c4;
  cursor: pointer;
  color: #f7f30ba2;
  box-shadow: 0 0 10px 5px rgb(255, 230, 0);
}
.content-btn{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@font-face {
  font-family: "Saiyan-Sans"; 
  src: url( "./assets/Saiyan-Sans.ttf" );
}


@media (max-width: 530px) {
  .btn {
    background: #620000b7;
    width: 108px;
    height: 89px;
    border-radius: 35px;
    padding: 11px 0 3px;
    font-family: "Saiyan-Sans";
    color: #fff;
    font-size: 18.5px;
    margin: 5px 3px;
}
}